[Unit]
Description=Mirantis ceph reporter service

[Service]
WorkingDirectory={INSTALL_FOLDER}
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart={AGENT_FOLDER}/python/python3.7 -m ceph_report.service {CONF_FILE}
StandardOutput=null

[Install]
WantedBy=multi-user.target
