[Unit]
Description=Mirantis ceph reporter service

[Service]
WorkingDirectory={INSTALL_FOLDER}
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=/usr/bin/python3.5 {INSTALL_FOLDER}/ceph_report/run.py -- -m ceph_report.service {CONF_FILE}
StandardOutput=null

[Install]
WantedBy=multi-user.target
